<!-- {{movieDetails | json}} -->



<div class="banner" *ngIf="movieDetails"
    [style.backgroundImage]="'linear-gradient(45deg, black, transparent),url(https://image.tmdb.org/t/p/original'+ movieDetails.poster_path+')'">
    <!-- <img src="https://image.tmdb.org/t/p/original/{{movieDetails.poster_path}}" alt="poster"> -->
    <!-- https://image.tmdb.org/t/p/original/{{movieDetails.poster_path}} -->

    <div class="caption">
        <h2>
            {{movieDetails.title ?? movieDetails.original_title}}
        </h2>
    </div>
</div>


<div class="trailers">

    <div class="container">
        <div class="row py-5">
            <div class="col-md-6" mb-3 *ngFor="let trailer of movieTrailers">
                <p class="alert alert-info trailername" (click)="runTrailer(trailer.key)">
                    <!-- {{trailer | json}} -->
                    {{trailer.name}}
                </p>
            </div>
        </div>
    </div>

</div>


<div class="trailer-container" *ngIf="trailerUrl">

    <button mat-raised-button class="btn btn-danger closeModal" (click)="trailerUrl = ''">
        close
    </button>

    <iframe width="560" height="315" [src]="trailerUrl" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>


<mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>