.modify-nav {
    background-color: #673ab7;
    // margin-top: 500px;
    padding: 0.5rem 1rem;
    // font-size: 18px; 
}

.navbar-brand {
    width: 120px;

    >img {
        width: 100%;
    }
}